@import "../variables.lessimport";

.card {
  position: absolute;
  background-color: @item-background;
  color:white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  min-width: 250px;

  .block-list {
    padding: 1em;
  }
}

.card-header {
  margin-bottom: 1em;
  color: white;

  .block-input {
    margin-top: .3em;
  }


  .control {
    padding: .3em 1em;
    text-align: center;
  }

  .card-info {

    .title {
      color: white;
      padding: .3em .5em;
      margin: 0;
      font-weight: 300;
      font-family: @condensed;

      &.schema {
        background-color: @peter-river;
      }

      .icon {
        font-family: 'spark';
        vertical-align: text-bottom;
      }
    }

    .icon.schema:before {
      content: "\f026";
    }

    .icon.publish:before {
      content: "\e00f";
    }

  }
}


    &.main-button {
      font-family: 'spark';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      // line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }