@import "../spaceblocks.lessimport";

.card {
  position: absolute;
  background-color: @item-background;
  color:white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  min-width: 250px;

  .delete-card {
    position: absolute;
    right: 0;
    top: -28px;
    border-radius: 0;
  }

  .block-list {
    padding: .3em 1em 1em .3em;
  }
}

.card-header {
  margin-bottom: 1em;
  color: white;

  .block-input {
    margin-top: .3em;
  }


  .control {
    padding: .3em 1em;
    text-align: center;
  }

  .card-info {
    display: flex;
    border-bottom: 1px solid @faded-icon;

    .addon {
    
      flex: 2;
      padding: .3em;
      text-align: center;

      flex-direction: row;
      align-items: center;
      justify-content: center;

      &.schema {
        background-color: @schema;
      }

      &.publish {
        background-color: @publish;
      }

      &.roles {
        background-color: @roles;
      }
    }

    .title {
      color: @dark-heading;
      padding: .3em .5em;
      margin: 0;
      font-weight: normal;
      font-family: @condensed;
      flex: 10;

      &.schema {
        background-color: @schema;
      }

      &.publish {
        background-color: @publish;
      }

      &.roles {
        background-color: @roles;
      }


    }

    .icon {
      font-family: 'spark';
      font-size: 1.7em;
      // line-height: 1.7em;
      // vertical-align: text-bottom;
    }

    .icon.schema:before {
      content: "\e606";
    }

    .icon.publish:before {
      content: "\e600";
    }

    .icon.roles:before {
      content: "\e605";
    }

  }
}


    &.main-button {
      font-family: 'spark';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      // line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }