@import "../variables.lessimport";


.card {
  position: absolute;
  background-color: @item-background;
  color:white;
  padding: 1em;
  margin: 1em;
}

.card-header {
  margin-bottom: 1em;

  .control {
    padding: .3em;
    text-align: center;
  }
}

.block-1 {
  margin-bottom: .3em;
}