@import "../variables.lessimport";


.block-1, .block-2 {
  margin-bottom: .3em;

  .content {
    padding: .3em;
    margin: .5em 0;
    border: 1px solid @faded-icon;
    color: @dark-heading;
    font-weight: 300;

    &.selected {
      background-color: @emerald;
      color:white;
    }
  }
}